.page {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  align-items: center;
  overflow: hidden;

  .descriptionWrapper {
    font-size: 1.8rem;

    .warningWrapper {
      display: flex;
      gap: 8px;
    }

    .warning {
      font-weight: 700;
    }
  }
}