.page {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 0 35px;
  width: 100%;
  align-items: center;

  .descriptionWrapper {
    padding-top: 40px;

    font-size: 1.8rem;

    .warning {
      font-weight: 700;
    }
  }
}