.wizardPage {
  display: flex;
  height: 100vh;

  .content {
    flex: 1;
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: var(--orange-500);
    align-items: center;
    padding-top: 80px;

    > :first-child {
      flex: 1;
    }

    .buttonWrapper {
      position: absolute;
      bottom: 40px;
      right: 80px;
    }
  }

  .progressPanelWrapper {
    display: flex;
    width: 34vw;
    max-width: 650px;

    > :first-child {
      flex: 1;
    }
  }

  .poweredByRebel {
    position: absolute;
    bottom: 20px;
    left: 20px;
  }
}