.formField {
  display: flex;
  flex-direction: column;
  gap: 8px;

  label {
    font-family: Zilla Slab, serif;
    font-size: 1.6rem;
    font-weight: 700;
    color: var(--white);
  }

  input {
    background-color: var(--white);
    font-family: Lato, serif;
    font-weight: 400;
    font-size: 1.8rem;
    border-radius: 8px;
    border: 1px solid #6C4796;
    height: 46px;
    padding: 12px 20px;

    &::placeholder {
      color: #747474;
    }
  }
}