.formField {
  display: flex;
  flex-direction: column;
  gap: 8px;

  .labelRow {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
  }

  label {
    font-family: Zilla Slab, serif;
    font-size: 1.6rem;
    font-weight: 700;
    color: var(--white);
  }

  .inputWrapper {
    display: grid;
    align-items: center;

    input {
      background-color: var(--white);
      font-family: Lato, serif;
      font-weight: 400;
      font-size: 1.8rem;
      border-radius: 8px;
      border: 1px solid #6C4796;
      height: 46px;
      padding: 12px 20px;

      &::placeholder {
        color: #747474;
        font-style: italic;
      }
    }

    .prefix {
      padding: 12px;
      font-family: Lato, serif;
      font-weight: 400;
      font-size: 1.8rem;
      color: var(--black);
      background-color: var(--orange-100);
      border-radius: 8px 0 0 8px;
      height: 46px;
      display: flex;
      align-items: center;
      border: 1px solid #6C4796;
      border-right: none;
    }

    &.withPrefix {
      grid-template-columns: auto 1fr;

      input {
        border-radius: 0 8px 8px 0;
        border-left: none;
      }
    }
  }
}