.sourceForm {
  justify-self: center;
  width: 100%;
  max-width: 600px;
  display: grid;
  grid-template-rows: repeat(5, 1fr);
  overflow: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;

  &:webkit-scrollbar {
    display: none;
  }

  .formFieldWrapper {
    grid-area: 2;
  }
}