.tableBody {
  display: flex;
  flex-direction: column;
  border: 2px solid var(--purple-500);
  border-top: none;
  border-radius: 0 0 20px 20px;
  overflow: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;

  &:webkit-scrollbar {
    display: none;
  }
}

.row {
  display: flex;
  align-items: stretch;
}

.tableBody>.row:nth-child(odd) {
  background-color: var(--white);
}

.tableBody>.row:nth-child(even) {
  background-color: var(--grey-100);
}

.tableBody>.row.selected {
  background-color: var(--purple-500);
}