.page {
  justify-self: center;
  overflow: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;

  &:webkit-scrollbar {
    display: none;
  }

  .title {
    font-weight: 400;
    font-size: 5.4rem;
  }

  .description {
    padding-top: 15rem;
    max-width: 600px;
    font-size: 1.8rem;
  }
}