.checkbox {
  label {
    display: flex;
    align-items: center;
    gap: 20px;
    font-family: Lato, serif;
    color: var(--white);
    font-weight: 400;
    font-size: 1.8rem;

    input {
      background-color: var(--grey-100);
      width: 24px;
      height: 24px;
      border-radius: 4px;
      flex-shrink: 0;
      appearance: none;
      cursor: pointer;

      &:checked {
        background-image: url("../../../assets/checkmark.svg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: 16px 16px;
      }
    }
  }

  &.purple {
    input {
      border: 1px solid var(--purple-500);

      &:checked {
        background-color: var(--purple-500);
      }
    }
  }

  &.orange {
    input {
      border: 1px solid var(--orange-500);

      &:checked {
        background-color: var(--orange-500);
      }
    }
  }
}