/* Modern CSS reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  /* this makes calculating font sizes using the rem property a lot easier.
     If you want the font size to be 24 px for example you can set it to
     2.4rem instead of 1.5rem. */
  font-size: 62.5%;
}

#root {
  min-height: 100vh;
}

* {
  margin: 0;
}