.cell {
  display: flex;
  align-items: center;
  padding: 12px 16px;
  flex: 1;
  min-width: 0;
  border-left: 1px solid var(--purple-200);

  p {
    font-family: Lato, serif;
    font-weight: 400;
    font-size: 1.8rem;
    color: var(--black);
  }

  &.selected {
    p {
      color: var(--white);
    }
  }
}

.cell:first-child {
  border-left: none;
}

.narrow {
  flex: 0 0 48px;
  width: 48px;
  justify-content: center;
  padding: 12px 16px;
}