.cell {
  display: flex;
  align-items: center;
  padding: 12px 20px;
  flex: 1;
  min-height: 48px;
  border-left: 1px solid var(--purple-500);

  p {
    font-family: Lato, serif;
    font-weight: 400;
    font-size: 1.8rem;
    color: var(--black);
    word-break: break-word;
    text-transform: capitalize;
  }

  &.selected {
    p {
      color: var(--white);
    }
  }
}

.cell:first-child {
  border-left: none;
}

.narrow {
  flex: 0;
}