.progressPanel {
  background-color: var(--purple-500);
  padding: 80px 40px;
  overflow: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: var(--step-gap);
  
  >* {
    flex: 1;
  }

  >*:last-child {
    flex: none;
  }
}